



.middle {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center
}

.prestige {
    margin: auto;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    height: 100px;
}

.test-pageing {
    display: flex;
}

.test-pageing-item:active {
    background-color: gray;
    color: #fc6621;
}

.list {
    display: flex;
    flex-direction: row;
}


.pagination-border {
    border: solid thin #fc6621;
    margin-right: 2px;
    margin-left: 1px;
}

