

.card-container ,.card-container-pie{
    margin: 10px;
    /*animation: shadowBox 3s infinite;*/
    height: auto;
    text-align: center;
    color: #a6a6a6;
    background-color: #1f1f1f;



}

.card-sub {
    background-color: #2a2a2a;
    margin: 10px;
    text-wrap: normal;
}

.card-top {
    background-color: #2a2a2a;
}

.card-context {
    margin: 5px;
    color: white;
    font-size: 60px;
    height: auto;
    line-height: 111px;
    background-color: #1f1f1f;
}

.background {

}



@keyframes shadowBox {
    0% {box-shadow: 2px 1px 18px #ff9400;}
    50% {box-shadow: 2px 1px 5px #2b1503;}
    100% {box-shadow: 2px 1px 18px #ff9400;}

}