.container {
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    justify-content: space-around;
    border: solid gray;
    margin: 5px;
    width: 100%;
}

.top {
    display: flex;
    flex-wrap: wrap-reverse;
    border: solid orange;
    width: auto;
}

.left, .right {
    flex-wrap: wrap;
    text-align: left;

}

.left {
    flex-basis: 70%;
    align-content: flex-start;
    margin: 10px;
    display: flex;
    flex-direction: row;
    /*font-size: 2vw;*/

}

.right {

    /*width: max-content;*/
    flex: 1;
    display: flex;
    flex-direction: column;

}

.right-sub {

    width: auto;
    margin: 2px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    height: auto;

}

.logo {
    height: 100px;
}
