.container {
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    justify-content: space-around;
    border: solid gray;
    margin: 5px;
    width: calc(100% - 76%);
}

.top {
    display: flex;
    justify-content: center;
;
}

.left, .right {
    flex-wrap: wrap;
    text-align: left;
    display: flex;
    flex-direction: column;
    border: solid #794a00;
    margin: 10px;

    flex-basis: 20%;
    justify-content: space-around;
    width: auto;
}

.left {
    width: 400px;
    font-size: 40px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.right {
    font-size: 25px;
    flex-direction: initial;
    display: flex;

}

.right-sub {
    width: max-content;
    margin: 2px;
}

.middle {
    display: flex;
    flex-wrap: wrap-reverse;
}

.middle-left {
    min-width: auto;
    justify-content: center;
}

.middle-right, .middle-left {
    width: 67%;
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

.logo{
    height: 100px;
}
