.container {
    align-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    justify-content: space-around;
    margin: 5px;
    width: 100%;
    background-color: #1b1b1b;
    box-shadow: 0.5px 0.5px 8px #ffeaec

}

.top {
    display: flex;
    flex-wrap: wrap-reverse;
    width: auto;
    flex-direction: inherit;
}

.left, .right {
    background-color: rgba(0,0,0,0.5);
    flex-wrap: wrap;
    text-align: left;

}

.left {
    flex-basis: 70%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.right-sub {

    width: auto;
    margin: 4px 10px 4px 4px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center
}

.prestige{
margin: auto;
}

.logo {
    height: 100px;
}

