.TeamMate{
    border: solid thin rgb(252, 102, 33);
    color: rgb(252, 102, 33);
}

.TeamMate-wrapper{
    margin-left: 4px;
}
.table {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.table-row{
    display: flex;
    flex-direction: row;
    border-bottom: solid thin rgb(252, 102, 33);
}

.table-action {
    flex-basis: 40%;
    word-break: break-word;


}

.table-result {
    flex-basis: 24%;
    text-align: center;
    border-right: solid thin rgb(252, 102, 33);
}

.table-header{
text-align: center;
    font-size: 30px;
    margin: 10px;
}

.header-item{
    text-align: center;
    flex-basis: 24%;
    margin: 5px;
}

.table-wrapper{
    overflow-y: scroll;
}