.App {
    color: orange;
    display: flex;
}

.player-list{
    display: inline;
    margin: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.player-list:hover {
    animation: colorChenger 2s linear infinite;
}

@keyframes colorChenger {
    0% {color: #ff9400;}
    50% {color:  #2b1503;}
    100% {color:  #ff9400;}

}
.graph {
    display: flex;
    flex-wrap: wrap;

}
.statistic-container{
    margin: 5px;
}


