.App {
    display: flex;
    flex-direction: row;
    color: #fc6621;
    justify-content: center;
    text-align: center;

}

.statistic-container {
    margin: 5px;
    width: 100%;
}

.container {
    align-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    justify-content: space-around;
    width: 100%;
    background-color: #101010;
    border: solid thin #fc6621;

}
