.App {
    background-color: black;
    color: orange;
    display: flex;
}

.player-list{
    display: inline;
    margin: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.player-list:hover {
    color: red;
}


